/* Typography
-----------------------------*/
@font-face {
	font-family: 'CoquetteRegular';
		src: url('CoquetteRegular-webfont.eot');
		src: url('CoquetteRegular-webfont.eot?#iefix') format('embedded-opentype'),
		     url('CoquetteRegular-webfont.woff') format('woff'),
		     url('CoquetteRegular-webfont.ttf') format('truetype'),
		     url('CoquetteRegular-webfont.svg#webfont') format('svg');
}

/* Lists
------------------------------*/
	
ul, ol, dl, li, dt, dd {
	margin: 0;
	padding: 0;
}
	
/* Links
------------------------------*/

a, a:link {}
a:visited {}
a:hover {}
a:active {}


html, body, div, ul {
	margin: 0;
	padding: 0;
}

body, p, blockquote {
    color: #262626;
	background: #f4f4f4;
	font-size: 12px/18px;
	font-family: 'CoquetteRegular', Arial, sans-serif;
}

#content {
	width: 400px;
	margin: 40px auto 0 auto;
	padding: 0 60px 30px 60px;
	border: solid 1px #cbcbcb;
	background: #fafafa;
	-moz-box-shadow: 0px 0px 10px #cbcbcb;
	-webkit-box-shadow: 0px 0px 10px #cbcbcb;
}

h1 {
	margin: 30px 0 15px 0;
	font-size: 30px;
	font-family: 'CoquetteRegular', Arial, snas-serif;
}

h1 span {
	font-size: 50%;
	letter-spacing: -0.05em;
}

hr {
	border: none;
	height: 1px; line-height: 1px;
	background: #E5E5E5;
	margin-bottom: 20px;
	padding: 0;
}

p {
	margin: 0;
	padding: 7px 0;
}

a {
	outline: none;
}

a img {
	border: 1px solid #BBB;
	padding: 2px;
	margin: 10px 20px 10px 0;
	vertical-align: top;
}

a img.last {
	margin-right: 0;	
}

ul {
	margin-bottom: 24px;
	padding-left: 30px;
}

/* Forms
------------------------------*/

form, fieldset {
	margin: 0;
	padding: 0;
}
	
fieldset { border: 1px solid #000; }

legend {
	padding: 0;
	color: #000;
}

input, textarea, select {
	margin: 0;
	padding: 1px;
	font-size: 100%;
	font-family: inherit;
}
	
select { padding: 0; }

body {
	padding: 0 10px;
	font: normal 100% 'CoquetteRegular', Arial, sans-serif;
}
	
p { margin: 10px 0; }

li { margin-left: 10px; }

h3 { margin: 5px 0; }

.red { background-color: red; }
.blue { color: blue; }
.green { color: green; }

#rating {
	margin: 5px;
	padding: 5px;
}

table {
	border: 1px solid #111;
	margin: 20px 0 20px 0 !important;
}

th, td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #fc0;
}

th:hover {
	background-color: #fc7;
}

tbody tr.even {
	background-color: #fea
}

tr a {
	color: rgb(102, 102, 102);
	text-decoration: none;
}
tr a:hover {
	text-decoration: underline;
}

dl dd {
	margin-left: 20px;
	color: #D9D330;
	
}

dl {
	border: 1px #fc0;
	margin: 5px;
	padding: 10px;
}

.highlight {
	border: 5px dotted #eee;
}

.error {
	background-color: #fee;
}
